body{
    margin: 0px;
    padding: 0px;

}
/* header section */
header > div{
    background-image:linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('./resources/Banner\ Image.png');
    border-radius: 16px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 1200px;
    width: fixed 1320px; 
    margin: 100px 300px; 
    
    display: flex;
    align-items: center;
    justify-content: center;

}
header >div > div{
color: #FFF;
font-family: Merriweather;
font-style: normal;
text-align: center;

}
.banner-tu{
    font-size: 70px;
    font-weight: 200;
    line-height: normal;
}
.banner-td{
font-size: 100px;
font-weight: 900;
line-height: 95px;
}
/*1st section*/
.section-one{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.off{
    color: #F00;
text-align: center;
font-family: Inter;
font-size: 88px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.red-title{
color: #F00;
text-align: center;
font-family: Inter;
font-size: 30px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.black-title{
color: #070211;
text-align: center;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
/* 2nd section */
.party-section{
    background-image:linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('./resources/Vectorrr.png');
    border-radius: 16px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 1200px;
    width: fixed 1320px; 
    margin: 100px 300px; 
    
    display: flex;
    align-items: center;
    justify-content:space-between;
r

}
.party-text-one{
 color: #FFF;
font-family: Merriweather;
font-size: 84px;
font-style: normal;
font-weight: 900;
line-height: 88px;
letter-spacing: 7.04px;
}
.party-text-two{
color: rgba(255, 255, 255, 0.80);
font-family: Inter;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: 30px;
}
button{
color: #FFF;
font-family: Inter;
font-size: 42px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
border: none;
background: none;
}
.party-text{
    padding: 126px 0px 142px 126px;
}
.twozero{
    padding: 68px 150px 68px 0px;
    
}
.party-image{
    width:500px;
    height:700px;
}
.party-button{
    padding-top: 49px;
    padding-left: 50px;
}
/* 3rd section */
.date-time{
    background: rgba(255, 0, 0, 0.05);
    height: 600px;
    width: fixed 1320px;
    margin: 100px 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.date-time-text{
font-family: Inter;
font-size: 50px;
font-style: normal;
font-weight: 600;
line-height: 56px;
text-transform: capitalize;
text-align: center;
}
#time{
    background-color: #F00;
    border-radius: 8px;
    text-align: center;
    color: #FFF;
    padding: 20px 40px;
    text-align: center;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
span{
    color: #F00;
}
/* 4th section */
.baji-section{
    height: 1500px;
    width: fixed 1320px; 
    margin: 200px 300px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
.baji-image{
    border: 25px solid red;
    height: 500px;
    width: 500px;;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.baji-image-pic{
   max-width: 450px;
   max-height: 450px;
}
.baji-left-text{

}
.baji-left-one{
font-family: Inter;
font-size: 35px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.baji-left-two{
font-family: Merriweather;
font-size: 65px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: capitalize;
}
.baji-left-three{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.baji-right-text{
    

}
.baji-right-three{
    padding-top: 43px;
}



